# Project Configuration @philippstappert
/* @philippstappert
.vscode/ @philippstappert

# Codeowners file
CODEOWNERS @uelbi @philippstappert @ufgfg @ubpch @usslz

# CI/CD Pipeline @ubpch @philippstappert
.gitlab-ci.yml @ubpch @philippstappert

# Cypress @uelbi @philippstappert
cypress/ @uelbi @philippstappert

# Backend-Logik @ufgfg @philippstappert
src/logic/ @ufgfg @philippstappert
src/stores/ @ufgfg @philippstappert

# Global Frontend @philippstappert
src/components/ @philippstappert
src/composables/ @philippstappert
src/layouts/ @philippstappert
src/assets/ @philippstappert
public/ @philippstappert

# Frontend @ufgfg @philippstappert
src/views/ @ufgfg @philippstappert

# Vue Configuration @ufgfg @philippstappert
src/* @ufgfg @philippstappert
src/router/ @ufgfg @philippstappert